@{
    ViewData["Title"] = "Contact";
    ViewData["ContactStatus"] = "active";
}
     
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Questions or Quotes ?</h2>
            <p>I'd love to hear from you. Please get in touch for a quote or if you have any questions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <div class="icon">
                    <img src="~/images/clip-phone.png" alt="wallpaper" height="150" width="150">
                </div>
                <div class="desc">
                    <h3>Phone or Text</h3>
                    <p><a href="tel:+447971106366">07971 106366</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/clip-email.png" alt="wallpaper" height="150" width="150">
                </span>
                <div class="desc">
                    <h3>Email</h3>
                    <p><a href="mailto:xxxxxxxxxxxxxxxxxxxxxx@mail.com" title="email: xxxxxxxxxxxxxxxxxxxxxx@mail.com">xxxxx@email.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

