@{
    ViewData["Title"] = "Contact";
    ViewData["ContactStatus"] = "active";
}
     
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Questions or Quotes ?</h2>
            <p>I'd love to hear from you. Please get in touch for a quote or if you have any questions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <div class="icon">
                    <a href="tel:+447971106366"><img class="contact-img" src="~/images/flomar-mobile-phone.png" alt="wallpaper" height="150" width="150"></a>
                </div>
                <div class="desc">
                    <h3>Phone or Text</h3>
                    <p><a href="tel:+447971106366">07971 106366</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <div class="icon">
                    <a href="mailto:annesdecoratingservices@gmail.com" title="email: annesdecoratingservices@gmail.com"><img class="contact-img" src="~/images/email.png" alt="wallpaper" height="150" width="150"></a>
</div>
                <div class="desc">
                    <h3>Email</h3>
                    <p><a href="mailto:annesdecoratingservices@gmail.com" title="email: annesdecoratingservices@gmail.com">annesdecoratingservices@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

