@{
    ViewData["Title"] = "Contact";
    ViewData["ContactStatus"] = "active";
}
     
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
            <h2>Questions or Quotes ?</h2>
            <p>I'd love to hear from you. Please get in touch for a quote or if you have any questions.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/phone.png" alt="wallpaper" height="52" width="52">
                </span>
                <div class="desc">
                    <h3>Phone / Text</h3>
                    <p>01234 567890</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/email.png" alt="wallpaper" height="52" width="52">
                </span>
                <div class="desc">
                    <h3>email</h3>
                    <p>email.address@mail.com</p>
                </div>
            </div>
        </div>
        @*<div class="col-md-4 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <img src="~/images/a-paintbrush.png" alt="wallpaper" height="48" width="48">
                    </span>
                    <div class="desc">
                        <h3>Third service (e.g. detailing)</h3>
                        <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                    </div>
                </div>
            </div>*@
    </div>
</div>

