@{
    ViewData["Title"] = "Home";
    ViewData["HomeStatus"] = "active";
}

<div id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('images/ads-proto-brush.jpg');">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
            <li style="background-image: url(images/ads-proto-yellowwalls.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
            <li style="background-image: url(images/ads-proto-paintroller.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluids">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
            <li style="background-image: url(images/ads-proto-loft.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-3 fh5co-widget">
                <h3>Hi, I'm Anne</h3>
                <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            </div>

            <div class="col-md-3">
                <h3 class="@ViewData["ContactStatus"]"><a asp-controller="Home" asp-action="Contact">Contact me</a></h3>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2018 Anne's Decorating Services. All Rights Reserved.</small>
                    <small class="block">Site by <a href="http://www.jeremybowden.net/" target="_blank">Jeremy Bowden</a> using Neat Bootstrap template.</small>
                </p>
                @*<p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><img src="~/images/facebook.png" alt="wallpaper" height="20" width="20"></a></li>
                            <li><a href="#"><img src="~/images/instagram.png" alt="wallpaper" height="20" width="20"></a></li>
                            <li><a href="#"><img src="~/images/twitter.png" alt="wallpaper" height="20" width="20"></a></li>
                        </ul>
                    </p>*@
            </div>
        </div>
    </footer>
</div><!-- END container-wrap -->