@{
    ViewData["Title"] = "Home";
    ViewData["HomeStatus"] = "active";
}

<div id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('images/ads-proto-brush.jpg');">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
            <li style="background-image: url(images/ads-proto-yellowwalls.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
            <li style="background-image: url(images/ads-proto-paintroller.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluids">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
            <li style="background-image: url(images/ads-proto-loft.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    @*<div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>You could add a different heading here for this slide</h1>
                                    <h2>And a different sub-heading as well if you like</h2>
                                </div>
                            </div>
                        </div>*@
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="container-wrap">
    <footer id="fh5co-footer" role="contentinfo">
        <div class="row">
            <div class="col-md-12">
                @*<h3>Hi, I'm Anne</h3>*@
                <p>
                    Are you looking for a lady decorator with a passion for colour and a reputation for reliability?<br />
                    Then you have come to the right place.<br />
                    I offer a complete home decorating service – from colour inspiration to full home decoration.
                    Whether it’s warming up an unwelcoming space or giving your entire home a makeover,  I can help you to turn ‘drab to fab’!<br /><br />
                </p>
                <p>
                    <strong>Decorating doesn’t have to be daunting! </strong>
                    If you have no idea where to start I can provide colour charts and wallpaper catalogues, even make some suggestions to help your own inspiration.<br /><br />
                </p>
                <p>
                    <strong>Decorating doesn’t have to be time consuming. </strong>
                    Too busy to do it yourself?  Then let me.  You simply choose whether you want paint or paper and let me do the rest!  Just imagine, you can go out to work and come back to a totally new look at home!<br /><br />
                </p>
                <p>
                    <strong>Decorating doesn’t have to cost the earth. </strong>
                    I have all the tools of the trade – so you don’t need to spend unnecessary money.  I also have the skills – so you won’t waste time or energy on results that aren’t quite what you wanted.
                    Instead you will get a professional job in way less time than it would take you!<br /><br />
                </p>
                <p>
                    <strong>Decorating doesn’t have to disrupt your life. </strong>
                    I pride myself on being reliable and a tradeswoman you can trust.  You can leave me to get on with your decorating project whist you get on with whatever you need to: work, shopping, even going on holiday!<br /><br />
                </p>
                <p>
                    Based on the borders of Northamptonshire, Leicestershire and Warwickshire, I will happily work anywhere within these counties (and beyond!)<br /><br />
                    Whether it’s a single room or an entire property I can decorate spaces of all ages and styles. So wherever you are in your home decorating – just thinking about it, about to start or even part way through give me a call.
                </p>
                <br /><br />
                <p class="text-center">
                    <em>Anne’s Decorating Services - Helping create the home you love to live in.</em>
                </p>
                <br /><br />
                <p>
                    <strong>About Me</strong><br /><br />
                    Hi I’m Anne and really happy to tell you a bit about me.<br /><br />
                    I’ve always had a passion for DIY, particularly decorating and have enjoyed transforming my own homes over the years in between a busy career.
                    A bout of ill health gave me some downtime and I started helping a friend with his property business – in particular the decorating side.
                    I realised just how much I enjoyed it and people were very positive about the results!<br /><br />
                    With a meticulous eye for detail and painstaking approach to decoration... I decided to launch my own decorating business and to date have worked with a range of clients;
                    single women living alone who prefer a female in the house, young working couples who have no time to do the work themselves, older people who want a home refresh without the hassle of ‘DIY’.
                </p>
                <br /><br />
                <p class="text-center">
                    <em>Anne’s Decorating Services - Decorating for the discerning homeowner.</em>
                </p>
                <br /><br />
            </div>
            <div class="col-md-12">
                <h3><a asp-controller="Home" asp-action="Contact">Contact me</a></h3>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2019 Anne's Decorating Services. All Rights Reserved.</small>
                    <small class="block">Site by <a href="http://www.jeremybowden.net/" target="_blank">Jeremy Bowden</a> using Neat Bootstrap template.</small>
                </p>
                @*<p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><img src="~/images/facebook.png" alt="wallpaper" height="20" width="20"></a></li>
                            <li><a href="#"><img src="~/images/instagram.png" alt="wallpaper" height="20" width="20"></a></li>
                            <li><a href="#"><img src="~/images/twitter.png" alt="wallpaper" height="20" width="20"></a></li>
                        </ul>
                    </p>*@
            </div>
        </div>
    </footer>
</div><!-- END container-wrap -->