@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>This privacy policy notice is served by Jeremy Bowden under the website www.annesdecoratingservices.azurewebsites.net. The purpose of this policy is to explain to you how I control, process, handle and protect your personal information and while you browse or use this website. If you do not agree to the following policy you should cease viewing / using this website, and or refrain from submitting your personal data.</p>
<p>This websites neither requires nor requests any personal information from the user. No attempt is made to retain personal information of any user.</p>
<h2>Cookies</h2>
<p>Cookies are used on this website to provide you with a better user experience by placing a small text file on your device / computer hard drive to track how you use the website.</p>
<p>Please click Accept on the header to accept the use of cookies.</p>
