@{
    ViewData["Title"] = "Services";
    ViewData["ServicesStatus"] = "active";
}
     
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <div class="icon">
                    <img src="~/images/hand-brush.jpg" alt="painting" height="150" width="150">
                </div>
                <div class="desc">
                    <h3>Interior Painting</h3>
                    <p>
                        I use trade quality paint which comes in a range of finishes from matt to high gloss.
                        Using the latest colour match technology most paints can be tailored to whatever hue or colour you desire.
                        If you have no idea where to start then I can provide you with paint charts and help you to choose the perfect shade for your home.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/papering.jpg" alt="wallpaper" height="150" width="150">
                </span>
                <div class="desc">
                    <h3>Wallpapering</h3>
                    <p>
                        Wallpaper is a very versatile decorative tool and a great way to make a statement.
                        With such a huge selection of wall coverings on offer how can you make the right choice!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/exterior-painting.jpg" alt="painting" height="150" width="150">
                </span>
                <div class="desc">
                    <h3>Exterior Painting</h3>
                    <p>
                        I can undertake exterior decoration including wooden window restoration, house walls, even garden summer houses!!!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/checkmark-png-28.png" alt="quotes" height="150" width="150">
                </span>
                <div class="desc">
                    <h3>Free No-Obligation Quotes</h3>
                    <p>
                        Let me take the hassle out of loving your home. Call me now to book an appointment for a free consultation and no-obligation quote.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Projects</h2>
            <p>
                When you’ve invested so much in buying your home doesn’t it make sense to make it look the best it can?<br />
                My clients love the results I’ve produced for them.<br /><br />
                See client <u><a asp-controller="Home" asp-action="Work" >projects here</a></u>.
            </p>
        </div>
    </div>
</div>

