@{
    ViewData["Title"] = "Services";
    ViewData["ServicesStatus"] = "active";
}
     
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/b-paintroller.png" alt="wallpaper" height="48" width="48">
                </span>
                <div class="desc">
                    <h3>First service (e.g. painting)</h3>
                    <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/b-wallpaper.png" alt="wallpaper" height="48" width="48">
                </span>
                <div class="desc">
                    <h3>Second service (e.g. papering)</h3>
                    <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/b-paintbrush.png" alt="wallpaper" height="48" width="48">
                </span>
                <div class="desc">
                    <h3>Third service (e.g. detailing)</h3>
                    <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                </div>
            </div>
        </div>
    </div>
 </div>

