@{
    ViewData["Title"] = "Services";
    ViewData["ServicesStatus"] = "active";
}
     
<div id="fh5co-services">
    <div class="row">
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <div class="icon">
                    <img src="~/images/hand-brush.jpg" alt="wallpaper" height="150" width="150">
                </div>
                <div class="desc">
                    <h3>Interior Painting</h3>
                    <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/papering.jpg" alt="wallpaper" height="150" width="150">
                </span>
                <div class="desc">
                    <h3>Wallpapering</h3>
                    <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center animate-box">
            <div class="services">
                <span class="icon">
                    <img src="~/images/detail.jpg" alt="wallpaper" height="150" width="150">
                </span>
                <div class="desc">
                    <h3>Exterior Painting</h3>
                    <p>Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service. Some info about the service.</p>
                </div>
            </div>
        </div>
    </div>
 </div>

