@{
    ViewData["Title"] = "My Work";
    ViewData["WorkStatus"] = "active";
}

<div id="fh5co-work">
    @*<div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>My Work</h2>
                <p>Take a look at some of the great work I've done !!!!!!!!</p>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Exterior window-frame (before)</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-ext-2-before.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Exterior window-frame (after)</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-ext-2-after.jpg);"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Exterior door (before)</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-ext-1-before.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Exterior door (after)</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-ext-1-after.jpg);"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Bedroom #1</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-int-bedroom-1.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Bedroom #2</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-int-bedroom-2.jpg);"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Sunroom</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-ext-sunroom.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Interior beams paintwork</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-int-beams.jpg);"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Stairs decor</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-int-stairs.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Bedroom decor</h3>
                <span>... and a bit of info ...</span>
            </div>
            <div class="work" style="background-image: url(/images/gallery-int-bedroom-3.jpg);"></div>
        </div>
    </div>
</div>