@{
    ViewData["Title"] = "My Work";
    ViewData["WorkStatus"] = "active";
}

<div id="fh5co-work">
    @*<div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>My Work</h2>
                <p>Take a look at some of the great work I've done !!!!!!!!</p>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Description</h3>
                <span>A bit of info</span>
            </div>
            <div class="work" style="background-image: url(/images/int-bedroom-1-small.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Description</h3>
                <span>A bit of info</span>
            </div>
            <div class="work" style="background-image: url(/images/ext-2-before-small.jpg);"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Description</h3>
                <span>A bit of info</span>
            </div>
            <div class="work" style="background-image: url(/images/ext-2-before-small.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Description</h3>
                <span>A bit of info</span>
            </div>
            <div class="work" style="background-image: url(/images/int-bedroom-1-small.jpg);"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Description</h3>
                <span>A bit of info</span>
            </div>
            <div class="work" style="background-image: url(/images/int-bedroom-1-small.jpg);"></div>
        </div>
        <div class="col-md-6 text-center">
            <div class="desc">
                <h3>Description</h3>
                <span>A bit of info</span>
            </div>
            <div class="work" style="background-image: url(/images/ext-2-before-small.JPG);"></div>
        </div>
    </div>
</div>